body{
    padding: 1rem;
    font-family: cursive;
    text-align: center;

}
a{
    text-decoration: none;
}
a:visited{
    color: purple;
}
a:focus , a:hover {
    color:red;
}
a:active{
    color:aqua;
}
